---
import { getCollection } from "astro:content";
import Layout from "../../layouts/BaseLayout.astro";

const games = await getCollection("games");
---

<Layout title="Games">
  <h1>Games</h1>
  <p>Welcome to my game library. Here's what I'm working on:</p>

  {
    games.map((game) => (
      <div class="game-card" key={game.id}>
        <h3>
          <a href={`/games/${game.slug}`}>
            {game.data.date} : {game.data.title}
          </a>
        </h3>
        <p>{game.data.description}</p>
      </div>
    ))
  }
</Layout>
